:root {
  --main-bg-color: #f6f7eb;
  --primary-color: #000;
  --special-color: #ff0000;
  --secondary-color: #1985a1;
  --pad: 6em;
  --pad-md:4em;
  --pad-xs:1.5em;
  --pad-sides: 10em;
  --panel-pad: 3em;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-size: 12px;
  background: var(--main-bg-color);
  font-family: Source Code Pro;
}

special {
  color: var(--special-color);
}

div {
  position: relative;
}

#wrapper {
  background: var(--main-bg-color);
  position: fixed;
  inset: var(--pad) var(--pad-sides);
  font-size: 1.5em;
  overflow: hidden;
  box-shadow: rgba(25, 133, 161, 0.4) 5px 5px, rgba(25, 133, 161, 0.3) 10px 10px,
    rgba(25, 133, 161, 0.2) 15px 15px, rgba(25, 133, 161, 0.1) 20px 20px,
    rgba(25, 133, 161, 0.05) 25px 25px;
}

#nav {
  font-size: 1.5em;
  line-height: 3em !important;
}

#wrapper::after {
  content: "";
  position: fixed;
  inset: var(--pad), var(--pad-sides);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 30%,
    var(--main-bg-color) 100%
  );
  z-index: 0;
  opacity: 0.65;
}

#panel {
  position: relative;
  color: var(--primary-color);
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: none;
  font-size: 1em;
  line-height: 1.25em;
}

#wrapper a {
  cursor: none;
  font-family: Source Code Pro;
  color: var(--primary-color);
  text-decoration: none;
}

#wrapper a:active {
  color: var(--main-bg-color);
}

#icon-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#icon-container img {
  width: 2em;
}

header {
  color: var(--primary-color);
  font-family: Raleway;
  font-size: 4.5em;
}

.subheader {
  font-family: Source Code Pro;
  font-size: 2em;
}

#cursor {
  cursor: none;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  user-select: none;
  -webkit-user-select: none;
}

canvas:not(#cursor) {
  position: absolute;
  filter: blur(1px);
  -webkit-user-select: none;
  z-index: -1;
  top: 0;
  left: 0;
}

.panel-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  width: 200px;
  line-height: 1.5em;
}

.tab:not(.active) {
  display: none;
}

#body-wrapper {
  display: flex;
  flex: 1;
  gap: var(--pad);
  padding: var(--panel-pad);
}

#header-wrapper {
  padding: var(--panel-pad);
  line-height: 3em;
}

#nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 2.15em;
}

.nav-link.active {
  color: var(--special-color) !important;
}

#nav-links {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

#body-content {
  flex: 1;
  opacity: 0;
  animation: body-content-load 800ms ease 200ms;
  animation-fill-mode: forwards;
}

@keyframes body-content-load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h:hover {
  color: transparent;
  -webkit-text-stroke: 2px black;
}

.scroll-wrapper {
  position: absolute;
  inset: 0;
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border: 2px solid var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  border: 2px solid var(--special-color);
}

.icon {
  background-repeat: no-repeat;
  display: block;
  width: 25px;
  height: 25px;
  background-size: contain;
}

.icon:active {
  filter: invert(100%);
}

.icon.icon-ln {
  background-image: url("assets/svg/iconmonstr-linkedin-1.svg");
}

.icon.icon-git {
  background-image: url("/assets/svg/iconmonstr-github-1.svg");
}

.pill {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: var(--main-bg-color);
  padding: 3px 4px;
  border-radius: 6px;
  font-size: 0.7em;
  line-height: 1em;
  white-space: nowrap;
  display: inline-block;
  margin-bottom: 6px;
}

.pill:hover {
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.flex-cols {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.position-tab {
  position: relative;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.position-tab h4 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.position-tab ul {
  font-size: 1em;
  line-height: 1.25em;
}

.flex-1 {
  flex: 1;
}

@media screen and (max-width: 1366px) {
  #wrapper {
    inset: var(--pad-md);
  }
}

@media screen and (max-width: 1200px) {
  #body-wrapper {
    flex-direction: column;
    gap: 2em;
    padding-top: 0;
  }

  #nav {
    gap: 5em;
  }

  #nav-links {
    gap: 0;
    flex-direction: row;
    justify-content: space-between;
  }

  #header-wrapper {
    line-height: 3em;
    padding-bottom: 1em;
    font-size: 0.8em;
  }

  #wrapper {
    inset: 0;
  }

  #icon-container {
    justify-content: center;
    flex-direction: row;
    gap: 2em;
  }
  .icon {
    width: 35px;
    height: 35px;
  }
  .hidden-mobile {
    display: none !important;
  }
}


@media screen and (max-width: 600px) {
  body {
    font-size: 9px;
  }

  #body-wrapper {
    padding: var(--pad-xs);
    padding-top: 0;
    gap: 1em;
  }
  #header-wrapper {
    padding: var(--pad-xs);
    line-height: 4em;
    font-size: 0.59em;
  }

  #nav-links {
    font-size: 0.7em;
  }
}

